

<h2>Add el megunt legóidat és találj rá újra</h2>
<div style="display:flex; justify-content:space-around; flex-direction: row; ">
    <a style="padding:20px; background-color:aqua; color:black" href="@Url.Action("Hirdetesek", "Home", new {area="" })">Hirdetések megtekintése</a>
    <a href="@Url.Action("HirdetesLetrehozas", "Home", new {area="" })">Hirdetés létrehozása</a>
</div>