
<div style="display:flex; flex-direction:row; justify-content:space-around">
    <div style="flex-basis:45%">
        <h2 style="text-align:center">Add el megunt legóidat és találj rá újra</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt massa ac sapien fermentum aliquet. Donec egestas enim nec congue vulputate. Phasellus laoreet euismod nisi, eget tincidunt dui maximus et. Donec vitae convallis nunc. Pellentesque non tincidunt nisl, in pulvinar metus. Vivamus at velit sed odio mollis tempor sed nec diam. Suspendisse in purus vitae nibh tincidunt sagittis non ac elit. Nullam nec lobortis ex. Fusce velit nulla, cursus imperdiet pulvinar non, varius ullamcorper purus. Nulla luctus, nunc porttitor posuere sagittis, ligula orci facilisis arcu, sed sollicitudin risus velit ut mi. In hac habitasse platea dictumst. Mauris congue lacinia elit at fermentum. Praesent eleifend dictum justo quis imperdiet. Phasellus pretium rutrum lacus, sit amet lobortis nibh.
        </p>
        <div style="display:flex; justify-content:space-around; flex-direction: row; ">
            <a style="padding:20px; background-color:blue; color:white" href="@Url.Action("Hirdetesek", "Item")">Hirdetések megtekintése</a>
            <a style="padding: 20px; background-color: blue; color: white" href="@Url.Action("Hirdeteseim", "Item")">Hirdetéseim</a>
            <a style="padding: 20px; background-color: blue; color: white" href="@Url.Action("HirdetesLetrehozas", "Item")">Hirdetés létrehozása</a>
        </div>
    </div>
    <div style="flex-basis: 40%">
        <img src="https://www.lego.com/cdn/cs/set/assets/bltfe2342485fca1540/21339.png" />
    </div>
</div>

<div style="display:flex; flex-direction:row; width:80%;justify-content:center;align-items:center; margin:100px auto 0 auto">

    <div style="display: flex; flex-direction: row; flex-basis: 45%">
        <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.15752-9/272831598_318312170255647_3829698828901781738_n.png?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=zHUNFHkkLTMAX9Jcqer&_nc_ht=scontent-vie1-1.xx&oh=03_AdTP_S-glgzVR8_qRao3fJr5D8mf9fpfdIR5XrexLnASwg&oe=649085DE" style="flex-basis:10%; width:10%; height:10%" />
        <div style="display:flex; flex-direction:column; flex-basis:75%">
            <h2>Ellenőrzött</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt massa ac sapien fermentum aliquet. Donec egestas enim nec congue vulputate. Phasellus laoreet euismod nisi, eget tincidunt dui maximus et. Donec vitae convallis nunc. Pellentesque non tincidunt nisl, in pulvinar metus. Vivamus at velit sed odio mollis tempor sed nec diam. Suspendisse in purus vitae nibh tincidunt sagittis non ac elit. Nullam nec lobortis ex. Fusce velit nulla, cursus imperdiet pulvinar non, varius ullamcorper purus. Nulla luctus, nunc porttitor posuere sagittis, ligula orci facilisis arcu, sed sollicitudin risus velit ut mi. In hac habitasse platea dictumst. Mauris congue lacinia elit at fermentum. Praesent eleifend dictum justo quis imperdiet. Phasellus pretium rutrum lacus, sit amet lobortis nibh.
            </p>
        </div>
    </div>

    <div style="display:flex; flex-direction:row; flex-basis:45%">
        <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.15752-9/263155883_4962448013819607_5764070260436065888_n.png?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=Ukt9x6GUCrUAX-Jcw92&_nc_ht=scontent-vie1-1.xx&oh=03_AdR68l90Z0QCKKpqLRkwl8HO3z8Ad4MuWHfu4YZhhuf0YA&oe=649078AA" style="flex-basis: 10%; width: 10%; height: 10% " />
        <div style="display:flex; flex-direction:column; flex-basis:75%">
            <h2>Ellenőrzött</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt massa ac sapien fermentum aliquet. Donec egestas enim nec congue vulputate. Phasellus laoreet euismod nisi, eget tincidunt dui maximus et. Donec vitae convallis nunc. Pellentesque non tincidunt nisl, in pulvinar metus. Vivamus at velit sed odio mollis tempor sed nec diam. Suspendisse in purus vitae nibh tincidunt sagittis non ac elit. Nullam nec lobortis ex. Fusce velit nulla, cursus imperdiet pulvinar non, varius ullamcorper purus. Nulla luctus, nunc porttitor posuere sagittis, ligula orci facilisis arcu, sed sollicitudin risus velit ut mi. In hac habitasse platea dictumst. Mauris congue lacinia elit at fermentum. Praesent eleifend dictum justo quis imperdiet. Phasellus pretium rutrum lacus, sit amet lobortis nibh.
            </p>
        </div>
    </div>

</div>

<div style="display: flex; flex-direction: row; width: 80%; justify-content: center; align-items: center; margin: 0 auto 0 auto">

    <div style="display: flex; flex-direction: row; flex-basis: 45%">
        <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.15752-9/259461473_521463582642047_100303188551226223_n.png?_nc_cat=102&ccb=1-7&_nc_sid=ae9488&_nc_ohc=jbywksZrjSgAX81NiUf&_nc_ht=scontent-vie1-1.xx&oh=03_AdR-foscPOnxwqHPrF4C9TQUB1CN52lq3KfaAhLHQMT5eQ&oe=64907581" style="flex-basis: 10%; width: 10%; height: 10% " />
        <div style="display:flex; flex-direction:column; flex-basis:75%">
            <h2>Ellenőrzött</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt massa ac sapien fermentum aliquet. Donec egestas enim nec congue vulputate. Phasellus laoreet euismod nisi, eget tincidunt dui maximus et. Donec vitae convallis nunc. Pellentesque non tincidunt nisl, in pulvinar metus. Vivamus at velit sed odio mollis tempor sed nec diam. Suspendisse in purus vitae nibh tincidunt sagittis non ac elit. Nullam nec lobortis ex. Fusce velit nulla, cursus imperdiet pulvinar non, varius ullamcorper purus. Nulla luctus, nunc porttitor posuere sagittis, ligula orci facilisis arcu, sed sollicitudin risus velit ut mi. In hac habitasse platea dictumst. Mauris congue lacinia elit at fermentum. Praesent eleifend dictum justo quis imperdiet. Phasellus pretium rutrum lacus, sit amet lobortis nibh.
            </p>
        </div>
    </div>

    <div style="display:flex; flex-direction:row; flex-basis:45%">
        <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.15752-9/257368747_1247333655741260_4411599048703378646_n.png?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=lSojsh7PT1IAX_Q-Ugc&_nc_ht=scontent-vie1-1.xx&oh=03_AdQPeVgdWiI_jjlJuVr4bfpA00FZ8v4q3LKNo_BRHyTbQg&oe=64907207" style="flex-basis: 10%; width: 10%; height: 10% " />
        <div style="display:flex; flex-direction:column; flex-basis:75%">
            <h2>Ellenőrzött</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt massa ac sapien fermentum aliquet. Donec egestas enim nec congue vulputate. Phasellus laoreet euismod nisi, eget tincidunt dui maximus et. Donec vitae convallis nunc. Pellentesque non tincidunt nisl, in pulvinar metus. Vivamus at velit sed odio mollis tempor sed nec diam. Suspendisse in purus vitae nibh tincidunt sagittis non ac elit. Nullam nec lobortis ex. Fusce velit nulla, cursus imperdiet pulvinar non, varius ullamcorper purus. Nulla luctus, nunc porttitor posuere sagittis, ligula orci facilisis arcu, sed sollicitudin risus velit ut mi. In hac habitasse platea dictumst. Mauris congue lacinia elit at fermentum. Praesent eleifend dictum justo quis imperdiet. Phasellus pretium rutrum lacus, sit amet lobortis nibh.
            </p>
        </div>
    </div>

</div>

